body{
    background-color: grey;

}
h1{
    text-align: center;
    font-size: 6rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.image{
    border: 10px solid darkgreen;
    margin-bottom: 2rem;
}
.section1{
    text-align: center;
}

p{
    text-align: center;
    font-size: 1.5rem;
    padding: 0 3rem ;
}

#btn{
    background-color: darkgreen;
    border:none;
    width:8rem;
    height:4rem;
    border-radius: 5px;
    font-size: 1rem;
    color: #fff;
    margin: 1rem;
}
#btn:hover{
    background-color: #fff;
    color: #000;
}
